/* Define CSS Variables for consistent design */
:root {
    --primary-bg: black;
    --accent-color: maroon;
    --sub-accent-color: white;
    /* Not working */
    --text-color: #f0f0f0;
    --card-bg: rgba(255, 255, 255, 0.02);
    --hover-bg: rgba(255, 255, 255, 0.1);
}